@model MVC_CookBook_PSSC.Models.UserComponents.Recipe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strRecipeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strRecipeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strIngredients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strIngredients)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strPreparation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strPreparation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strLikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strLikes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strDislikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strDislikes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.strID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
