@model IEnumerable<PsscApp.Models.PieseTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tip_piesa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pret)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriere)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tip_piesa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pret)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descriere)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PieseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PieseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PieseID })
        </td>
    </tr>
}

</table>
