@model IEnumerable<WebApp_PSSC.Models.Comanda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produs.TipProdus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrProduse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produs.TipProdus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrProduse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdComanda }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdComanda }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdComanda })
        </td>
    </tr>
}

</table>
