@model HomeDetailsViewModel

<div class="justify-content-center ">
    <div class="card-header">
        <h1>@Model.Pacient.Nume @Model.Pacient.Prenume</h1>
    </div>
    <div class="card-body">
        <h4>Pacient ID : @Model.Pacient.Id</h4>
        <h4>Nume : @Model.Pacient.Nume</h4>
        <h4>Prenume : @Model.Pacient.Prenume</h4>
        <h4>CNP : @Model.Pacient.CNP</h4>
        <h4>Sexul : @Model.Pacient.Sexul</h4> 
    </div>
    <div class="card-footer text-center">
        <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
        <a asp-action="edit" asp-controller="home"
           asp-route-id="@Model.Pacient.Id"
           class="btn btn-primary">Edit</a>
        <a class="btn btn-delete">Delete</a>
    </div>
</div>


