@model Farmacie.Models.Distribuitor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Distribuitor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strNumeDistribuitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strNumeDistribuitor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strEmailDistribuitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strEmailDistribuitor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strNrTelefonDistribuitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strNrTelefonDistribuitor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strAdresaDistribuitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strAdresaDistribuitor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
