@model IEnumerable<scoala.Models.Elev>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clasa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clasa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDElev }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDElev }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDElev })
        </td>
    </tr>
}

</table>
