
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/style1.css" rel="stylesheet" />
</head>
<body>
    <h1>Cart Info</h1>
    <a align="left" asp-controller="account" asp-action="logout">Logout</a>
    <table border="1" cellpadding="2" cellspacing="2">
        <tr>


            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
            <th> </th>

        </tr>
        @foreach (var item in ViewBag.cart)
        {
        <tr>

            <td>@item.Product.Name</td>
            <td><img src="~/images/@item.Product.Photo" width="50" /></td>
            <td>@item.Product.Price</td>
            <td>@item.Quantity</td>
            <td>@(item.Product.Price * item.Quantity)</td>
            <td align="center">
                <a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">X</a>
            </td>

        </tr>
        }
        <tr>
            <td colspan="4" align="right">Total</td>
            <td>@ViewBag.total</td>
            <td></td>
        </tr>
    </table>
    <br /><br />
    <a asp-controller="product">Continue Shooping</a>
</body>
</html>
