@model IEnumerable<WeTest.Models.Test>

@{
    ViewData["Title"] = "Index";
}

<h1>All Tests</h1>
<h3>Here you can see test suite of your company.</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Functionality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TesterId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Functionality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TesterId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
