@model IEnumerable<APPicola.Models.Articole>

@{
    ViewBag.Title = "InfoArticole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InfoArticole</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.index)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numearticol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.index)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numearticol)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
