@model IEnumerable<Farmacie.Models.Farmacist>

@{
    ViewData["Title"] = "Farmaciștii APharma";
}



<br />
<br />
<h1>Farmaciștii APharma</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                
               Nume
            </th>
            <th>
               Prenume
            </th>
            <th>
                CNP
            </th>
            <th>
               Număr de telefon
            </th>
            <th>
                Email
            </th>
            <th>
                Adresa farmaciei
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.strParola)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.strNume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strPrenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strCNP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strNrTelefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strAdresaFarmacie)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.strParola)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
