{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<div class="card card-body">
    <h3>Edit Video Idea</h3>
    <form action="/ideas/{{idea.id}}?_method=PUT" method="POST">
        <div class="form-group">
            <input type="hidden" name="_method" value="PUT">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" value="{{idea.title}}"required>
        </div>
        <div class="form-group">
            <label for="title">Details</label>
            <textarea class="form-control" name="details" required>{{idea.details}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit </button>
    </form>
</div>